<script id="liveGame-template" type="text/x-handlebars-template">
  {{#each this}}
  <div class='container-fluid text-center card liveGameCard mb-3' id={{scoreID}}>
      <div class='row card-body'>
          <img class='col-1 card-img' src={{awayTeamLogo}} id='homeTeamLogoLive'>
          <div class='col-4 font-weight-bold'>{{awayTeamFullName}}</div>
          <div class='col-2'>{{awayScore}}</div>
          <div class='col-6'>
            <div class='container-fluid'>
              <div class="row">
                <div class="col-4">{{awayTeamScore}}</div>
                <div class="col-8">{{quarter}} ({{timeRemaining}}</div>
              </div>
            </div>
          </div>
          <div class="col-1 liveGameModalBtn fas fa-football-ball my-auto" data-toggle="modal" data-target="#live-game-modal" id="scoreID"></div>
      </div>
      <div class='container-fluid text-center card liveGameCard mb-3' id={{scoreID}}>
        <div class='row card-body'>
            <img class='col-1 card-img' src={{homeTeamLogo}} id='homeTeamLogoLive'>
            <div class='col-4 font-weight-bold'>{{homeTeamFullName}}</div>
            <div class='col-2'>{{homeScore}}</div>
            <div class='col-6'>
              <div class='container-fluid'>
                <div class="row">
                  <div class="col-4">{{homeTeamScore}}</div>
                  <div class="col-8">{{quarter}} ({{timeRemaining}}</div>
                </div>
              </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
  {{/each}}
</script>    